In [241]:
import os,sys

In [242]:
from docxtpl import DocxTemplate

In [243]:
from docx import Document

 doc = DocxTemplate('cv_template_2.3.docx')

document = Document('cv_template_2.3.docx')

In [244]:
document = Document('cv_template_2.3.docx')

In [245]:
context = {'firstname':'bob'}

for table in document.tables:
    if table.cell(0,0).text == "PROFESSIONAL REFERENCES":
        ref_table = table

In [246]:
for table in document.tables:
    for row in table.rows:
        print(row.cells[0].text)

Candidate Application
Supplier
Supplier name
Contact person
Phone number
Email
Candidate  Vs Position
{{ motivation }}
Candidate
Last name
First name
Date of birth
Nationality
Gender
Employee or Freelance
Availability
Professional References
Company



Education
{{ education }}
Certifications
{{ certifications }}
Languages

Spoken
Written
Comprehension

Professional experience
(for every position fulfilled, most recent first, add rows if needed)
Company
Client
Period
Role
Tasks
Tools
Environment
Methodology
Company
Client
Period
Role
Tasks
Tools
Environment
Methodology
Company
Client
Period
Role
Tasks
Tools
Environment
Methodology
Management Skills
List  relevant management skills
Technical Skills
List relevant technical skills
Others

table = document.tables[0]

In [247]:
row = table.add_row().cells

In [248]:
row2 = table.add_row().cells

In [249]:
row3 = table.add_row().cells

In [250]:
row4 = table.add_row().cells

In [251]:
row5 = table.add_row().cells

In [252]:
row6 = table.add_row().cells

doc.render(context)

In [253]:
document.save('renderedTest.docx')

In [254]:
ref_table

NameError: name 'ref_table' is not defined